asgiref==3.11.0
boto3==1.42.36
botocore==1.42.36
Django==5.2.10
django-formtools==2.5.1
django-otp==1.7.0
django-phonenumber-field==8.4.0
django-storages==1.14.6
django-two-factor-auth==1.18.1
Faker==40.1.2
jmespath==1.1.0
phonenumberslite==8.13.55
pillow==12.1.0
psycopg==3.3.2
psycopg-binary==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
qrcode==8.2
RapidFuzz==3.14.3
s3transfer==0.16.0
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
